body {
  background-color: #282c34;
  color: white;
  font-family: monospace;
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: space-around;
}

nav {
  align-items: center;
  display: flex;
  height: 20vh;
  justify-content: space-around;
}

label {
  display: flex;
  flex-direction: column;
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
