.header-background {
  background-image: url('../assets/bg.jpg');
  background-size: cover;
  height: 50vh;
}

.jumbotron-background {
  background-color: rgba(0,0,0,0.50);
  padding: 3% 5% 0 5%;
  width: 80%;
}

.border-lg {
  border: 10px solid black;
}