table {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 17px;
  width: max-content;
}

thead {
  background-color: gray;
}

th {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

td {
  border: 1px solid black;
  max-width: 100px;
  overflow: hidden;
  text-align: center;
}
