body {
  background-image: url('https://images5.alphacoders.com/667/thumb-1920-667417.jpg');
  background-size: auto;
}

.logo {
  margin-left: 10px;
  margin-top: 10px;
  width: 30%;
}

.searchBar {
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
  top: 20px;
  width: 60%;
}

.textInput {
  padding: 30px;
}

.numberInput, .sortInput {
  padding: 15px;
}

.input {
  margin: 5px;
}

.filters {
  border-radius: 5px;
  padding: 5px;
  border: 1px black solid;
}